<div class="container">
  <div class="container">
    <div
      class="d-flex"
      role="search"
      style="width: 70%; margin-left: auto; margin-right: auto"
    >
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search for beer..."
        aria-label="Search"
        [(ngModel)]="searchTerm"
      />
      <button
        [disabled]="searchTerm.length === 0"
        class="btn btn-outline-success"
        (click)="searchBeer()"
        type="submit"
      >
        Search
      </button>
    </div>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3" *ngFor="let beer of beers">
          <div class="card" style="width: 18rem; height: 25rem; margin: 4px">
            <img
              style="height: 200px; width: 100px; padding: auto; margin: auto"
              class="card-img-top img-fluid"
              [src]="beer.image_url"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ beer.name | truncateText : 20 }}</h5>
              <p class="card-text">
                {{ beer.description | truncateText : 50 }}
              </p>
              <a
                class="btn btn-primary"
                *ngIf="!beer.is_favourite"
                (click)="addFavourites(beer)"
                >Favourite</a
              >
              <a
                class="btn btn-primary"
                *ngIf="beer.is_favourite"
                (click)="removeFavourites(beer.id, beer)"
                >Remove Favourite</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <button
        [disabled]="currentPage === 1 || searchTerm.length === 0"
        class="btn btn-outline-success"
        (click)="prevPage()"
        type="submit"
      >
        Prev
      </button>
      <button
        [disabled]="beers.length === 0 || searchTerm.length === 0"
        class="btn btn-outline-success"
        (click)="nextPage()"
        type="submit"
      >
        Next
      </button>
    </ul>
  </nav>
  <br />
  <br />
</div>
